/* Home */
#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("/images/backgrounds/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
}

/* MilkText */
#milk {
    color: white;
}

#homediv h1, h2 {
    margin: 0;
    padding: 0;
}

/* Title */
#bigger {
    font-size: 3rem;
    color: #F2AE1C;
}

/* Logo */
#homelogo {
    width: 20rem;
    max-width: 39rem;
}

/* Tagline */
#das {
    font-size: 1.4rem;
    color: white;
}

/* MenuButton */
#menu {
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

#menu > span {
    background-color: rgb(36, 9, 9);
    border: 3px solid #563620;
    color: #F2AE1C;
    padding: 12px;
    border-radius: 32px;
}